.root {
  position: relative;
  width: 100%;
}

.anchor {
  width: 100%;
}

.rootFullWidth {
  width: 100%;
}

.anchorFullWidth {
  width: 100%;
  display: block;
}

.popover {
  position: absolute;
  z-index: 10;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid var(--caption-color);
}

.popoverJoined {
  border-top-color: transparent;
  border-radius: 0 0 12px 12px;
}

.popover[data-placement='bottom-start'] {
  top: calc(100% + var(--popover-offset));
  left: 0;
}

.popover[data-placement='bottom-end'] {
  top: calc(100% + var(--popover-offset));
  right: 0;
}
