.wrapper {
  display: block;
}

.summary {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.summary:hover .label {
  text-decoration: underline;
}

.summary:active {
  background-color: var(--control-active-color);
  border-radius: 8px;
}

.summary:focus-visible {
  background-color: var(--control-focus-color);
  border-radius: 8px;
}

.label {
  font-family: var(--body-font-family), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  flex-grow: 1;
  letter-spacing: 0.02em;
}

.checkbox {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}

.checkboxRemove {
  color: var(--accent-color);
}

.checkboxEmpty {
  color: var(--text-color);
}

.chevron {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 0.3s ease,
    opacity 0.25s ease;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.wrapper[open] .content {
  margin-top: 14px;
  grid-template-rows: 1fr;
  opacity: 1;
  pointer-events: auto;
}

.content > * {
  overflow: hidden;
  padding-left: 32px;
  padding-bottom: 4px; 
}

.content > * > * + * {
  margin-top: 12px;
}