.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 1136px;
  margin: 0 auto auto;
}

.title {
  font-family: var(--header-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.011em;
  color: var(--text-color);
}

.blocks {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.block {
  display: flex;
  align-items: center;
  border-radius: 12px;
  min-height: 692px;
  min-width: 556px;
  padding: 60px;
  background-color: var(--card-input-color);
}