.container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  width: 1020px;
  height: 444px;
  padding: 32px 52px 40px 52px;
  border-radius: 12px;
}

.content {
  display: flex;
  gap: 77px;
}

.infoSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.infoDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.011em;
  font-weight: 500;
  font-family: var(--header-font-family);
}

.category {
  color: var(--caption-color);
  font-weight: 400;
  font-family: var(--body-font-family);
  letter-spacing: 0.02em;
  font-size: 12px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  font-family: var(--body-font-family);
  padding-bottom: 28px;
}

/* ГАЛЕРЕЯ */
.gallerySide {
  width: 440px;
  height: 324px;
  min-width: 0;
}
