.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 38px 36px 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
