.button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 12px;
}

.button:focus-visible {
  background-color: var(--icon-button-hover-color);
  outline: transparent;
}

.button:hover {
  cursor: pointer;
  background-color: var(--icon-button-hover-color);
}

.button:active {
  background-color: var(--icon-button-active-color);
}
