.button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
}

.button:focus-visible {
  background-color: var(--icon-button-hover-color);
}

.button:hover {
  cursor: pointer;
  background-color: var(--icon-button-hover-color);
}

.button:active {
  background-color: var(--icon-button-active-color);
}
