.actionResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.icon * {
  margin-block-end: 40px;
  width: 100px;
  height: 100px;
  stroke-width: 0.4;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  text-align: center;
  font-family: var(--header-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text-color);
  letter-spacing: -0.01em;
}

.description {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin-block-end: 20px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
