.header {
  width: 100%;
  height: 120px;
  background: var(--background-color);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 36px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.containerAuth {
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 8px;
}

.navBlock {
  display: flex;
  align-items: center;
}

.search {
  flex: 1 1 auto;
  max-width: 720px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
}
