*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-clickable:focus-visible {
  background-color: var(--icon-button-hover-color);
  border-radius: 6px;
}

.icon-clickable:hover {
  cursor: pointer;
  background-color: var(--icon-button-hover-color);
  border-radius: 6px;
}

.icon-clickable:active {
  background-color: var(--icon-button-active-color);
  border-radius: 6px;
} 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
