.container {
  display: inline-flex;
  align-items: center;
  gap: 16px; /* Расстояние между кнопками */
  color: var(--text-color);
}

.container button[aria-pressed='true'] {
  color: var(--accent-color);
}
